@tailwind base;
@tailwind components;
@tailwind utilities;

html {
 scroll-behavior: smooth;
 scroll-margin-top: 100px;
}

body {
 background: rgb(18, 18, 18);
}

.intro-heading {
 font-size: clamp(2rem, 5vw, 4.5rem);
}

.work-experience-heading {
 font-size: clamp(2rem, 2.5vw, 3.5rem);
}

.skills {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
 grid-gap: 3rem 4rem;
}

/* with flexbox */
.c-grid {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
}

.grid-col {
 -webkit-box-flex: 1;
 -webkit-flex-grow: 1;
 -ms-flex-positive: 1;
 flex-grow: 1;
 width: 100%;
 flex-direction: column;
}

.grid-item {
 margin-bottom: 2rem;
 width: 100%;
}

.extra {
 width: 100%;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2,
.grid-col--3 {
 display: none;
}

.grid-col--1 {
 margin-right: 1.5rem;
}

/* 3 columns at medium size */
@media (min-width: 768px) {
 .grid-col--2 {
  display: block;
 } /* show column 2 */
}

/* 4 columns at large size */
@media (min-width: 1080px) {
 .grid-col--3 {
  display: block;
 } /* show column 3 */
}

@media (max-width: 768px) {
 .grid-col--1 {
  margin-right: 0;
 }
}

.card-bg {
 background: linear-gradient(313.45deg, #5221e6 0%, rgba(82, 33, 230, 0) 100%);
}
